body {
  background: url('https://media4.giphy.com/media/p35GY4YZXKlJC/200.webp?response_id=591da988e22c69c18293201a#27-grid1') !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
a {color: cyan !important};
a:hover {color:deeppink !important}